<a href="https://colab.research.google.com/github/GabrielED39/edd_1310_2021/blob/master/1ocubre_1310.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Intro Python 3
### Variables
tipo dinamico
escuela = "FES Aragón"

In [22]:
escuela = "FES Aragón"
print (escuela)
print ("-------")
edad = 13
estatura = 1.67
fumador = True 
frase = """
Esta es
una
frase de multiple linea
y tambien es
un tipo de dato
"""
print (frase)
nombre = 'jose'
nombre_completo = "Jose Sosa Cardenas"

FES Aragón
-------

Esta es
una
frase de multiple linea
y tambien es
un tipo de dato

#Print
con comas ,

con signo mas +

con format ()

con operador f""

In [8]:
#
print (nombre, edad)

Jose 13

In [11]:
#El mas concatena CADENAS
print (nombre+str(edad))
#No tiene espacio por la concatenacion, a diferencia de la coma
print (nombre+nombre_completo) #snake case (palabras minusculas separadas por guiones)

Jose13
JoseJose Sosa Cardenas

In [23]:
#Con formato -> Su nombre es Jose y su edad es 13 años.
print ("Su nombre es", nombre, "y su edad es de",edad,"años")
print ("Su nombre es {0} y su edad es de {1} años.".format(nombre,edad))
print ("Su nombre es {1} y su edad es de {0} años.".format(nombre,edad))

Su nombre es jose y su edad es de 13 años
Su nombre es jose y su edad es de 13 años.
Su nombre es 13 y su edad es de jose años.

In [17]:
#Con formato con el operador f""
print(f"Su nombre es {nombre} y su edad es de {edad} años.")

Su nombre es Jose y su edad es de 13 años.

#Caracter de escape

\n salto de linea

\t tabulador

\a beep

\\" (Imprime comilla doble)

\\' (Imprime comilla simple)

In [18]:
"""
Este es
un
comentario de multiple linea
"""
print(f"\tMi nombre es \n\t\t {nombre}")

	Mi nombre es
		 Jose

#Ayuda de tipos en Python
dir() 

help()
##Tipos de dato
str, int, float, bool, list, dict,set

###Ejem:
help(str)

In [ ]:
help(str) #Para acceder a la informacion de los datos

In [27]:
#Primera letra en mayuscula
print(nombre_completo.capitalize())
#En mayusculas todo
print(nombre_completo.upper() , end="------") #end sirve para evitar el salto de linea y colocar otro caracter
#Primeras letras de cada palabra en mayuscula
print(nombre_completo.title())

Jose sosa cardenas
JOSE SOSA CARDENAS------Jose Sosa Cardenas

In [ ]:
dir(print)

##Clase String
Se maneja como un arreglo (c o java) **o lista (python)**

In [29]:
telefono = "Huawei mate 30 pro" 
print (telefono[0])
print (telefono[5])

H
i

#Slicing (rebanado)
sintaxis: [inicio : stop : incremento]

nota: el stop no se incluye, termina un numero anterior si se quiere el valor num 3 se coloca 4

In [39]:
print (telefono [7:11:1])
#El inicio y el incremento son opcionales
print (telefono [:11:]) #El valor por defecto del inicio es cero y el del incremento es uno
#El valor por defecto del stop es length
print (telefono [::])
#incremento negativo 
print(telefono[::-1])
#Comienza desde el final del str
print(telefono[-3::1])
#Tambien se pueden colocar variables dentro
ini = -3
inc = 1
print(telefono[ini::inc])

mate
Huawei mate
Huawei mate 30 pro
orp 03 etam iewauH
pro
pro

##Metodos de string (str)
Existen metodos muy útiles en esta clase

In [73]:
facultad = "    facultad de estudios superiores aragon      \n"
#Cuenta los el valor que este entre parentesis
print(facultad.count(" "), end=" ") 
print(facultad.count("f"), end=" ")
print(facultad.count("s"), end=" ")
print(facultad.count("u"))
print("-----------")
#Busca el indice del sub str buscado
print(facultad.find("s")) #la primer s esta en el espacio 17
print("-----------")
#Dice el indice de la primer coincidencia
print(facultad.index("s"))
print("-----------")
#Remueve los espacios en blanco y en linea (solo al principio y al final)
print(facultad, "ahah")
print(facultad.strip())
print("-----------")
#imprime el numero de caracteres
tamaño = len(facultad)
print(len(facultad))
print(f"Tamaño de la cadena es: {tamaño} caracteres")
#Split divide la cadena en base a un caracter
print(facultad)
print(facultad.strip().split(" ")) #En este caso strip elimina los espacios vacios y split tivide las palabras
print("-----------")
#copiar cadena
otra_cadena = facultad
print(otra_cadena)
facultad = "FES Aragón"
print(facultad)
print(otra_cadena)

#copiar listas
colores = ["rojo", "verde"]
otra = colores
print(colores)
print(otra)
otra.append("rosa")
print(colores)
print(otra)

14 1 4 3
-----------
17
-----------
17
-----------
    facultad de estudios superiores aragon
 ahah
facultad de estudios superiores aragon
-----------
49
Tamaño de la cadena es: 49 caracteres
    facultad de estudios superiores aragon

['facultad', 'de', 'estudios', 'superiores', 'aragon']
-----------
    facultad de estudios superiores aragon

FES Aragón
    facultad de estudios superiores aragon

['rojo', 'verde']
['rojo', 'verde']
['rojo', 'verde', 'rosa']
['rojo', 'verde', 'rosa']