<a href="https://colab.research.google.com/github/GabrielED39/edd_1310_2021/blob/master/6octubre_1310.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Strings continuación

numeros_txt ="   1,2,3, 4  , 5 , 35  , 15 ,12"
print(numeros_txt)
numeros_txt = numeros_txt.lstrip().split(',')
print(numeros_txt) #se imprime como arreglo

for j in range(len(numeros_txt)):
  numeros_txt[ j ] = int(numeros_txt[ j ].strip())

print(numeros_txt)
print("-------------")
#funcion range
#range(inicio; stop; incremento)
print (range(0,10,3))
rango = range (1,10,2)

for x in rango:
  print(x)

rango = range(10)
for x in rango:
  print (x)

#Listas
- Son mutuables (
- Se declaran con corchetes cuadrados ([ ])
- Selector [ int ]
- Pueden ser de cualquier tipo y mezclado

#Tuplas
- No mutables
- Se declaran con parentesis ()
- Selector [int]

#Diccionarios
- Son mutables
- Equivalentes a los objetos JSON de JavaScript
- Conjunto de pares llave:valor

#Conjuntos
- Representacion de la teoria de conjuntos

In [50]:
#Listas
frutas = ["pera", "manzana", "fresa", "kiwi", "naranja"]
print (frutas)
cosas = ["cuaderno",2 ,3.1416 ,True ,False ,["Rojo","Azul"]]
print(cosas)
frutas[2]="Fresa"  #frutas[2]= frutas[2].capitalize()
print(frutas)
#agregar a una lista
frutas.append("Aguacate") #append siempre agrega en la posision final
print (frutas)
frutas.insert(2,"Sandia") #insert permite agregar en el espacio deseado
print (frutas)
print ("-------")
#concatenar listas
fecha = ["06", "10", "2020"] #06/10/2020
print(fecha)
fecha_str = "/".join(fecha)
print(fecha_str)
print ("-------")

['pera', 'manzana', 'fresa', 'kiwi', 'naranja']
['cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul']]
['pera', 'manzana', 'Fresa', 'kiwi', 'naranja']
['pera', 'manzana', 'Fresa', 'kiwi', 'naranja', 'Aguacate']
['pera', 'manzana', 'Sandia', 'Fresa', 'kiwi', 'naranja', 'Aguacate']
-------
['06', '10', '2020']
06/10/2020
-------

In [63]:
#slicing

cosas = ["cuaderno",2 ,3.1416 ,True ,False ,["Rojo","Azul"]]
print (cosas[3:5:1])
print (cosas[0][3:5])#se selecciona primero el string, y despues se hace slicing del mismo

numeros = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
print(numeros[8:13])

#sustituir rebanadas -2,-2 -> 0,1,2,3,4,5,6,7,-2,-2,13,14,15
numeros[8:13] = [-2,-2]
print(numeros)

#preguntar por existencia
print( -2 in numeros)
print( 100 in numeros)

[True, False]
de
[8, 9, 10, 11, 12]
[0, 1, 2, 3, 4, 5, 6, 7, -2, -2, 13, 14, 15]
True
False

In [ ]:
help(str)

In [ ]:
#Eliminar elementos
cosas = ["cuaderno",2 ,3.1416 ,True ,False ,["Rojo","Azul"]]
print (cosas)
cosas.append("Libro")
cosas.append("Lapiz")
print (cosas)
algo = cosas.pop()#elimina el ultimo por default
print (cosas)
print(algo)

algo = cosas.pop(2)#elimina el elemento seleccionado
print (cosas)
print (algo)
cosas.remove(2) #remove elimina algo en concreto(solo la primer coincidencia que encuentra)
print(cosas)
print ("------")

#vaciar lista
#cosas.clear()
print(cosas)

#ordenar
print(frutas)
frutas.sort() #forma alfabetica los datod deben tener congruencia entre ellos
print(frutas)

#cosas.sort() #no se puede por la diferencia de datos en la lista (marca error)

#Listas multi dimensón

Lista dentro de lista

In [82]:
computadoras = ["HP", "Mac Book Pro 17", "Mate book", "Lenovo legion"]
sist_op = ["Windows 10", "Linux", "Android", "iOS"]

#Lista de dos dimensiones
computo = [computadoras,sist_op]
print(computo[0])
print(computo[1])
print(computo[0][2])
print(computo[0][2][0:5])
print(computo[0][3][5: :-1])
print(computo[0][3][-8: :-1])
print("Linux" in sist_op[1])
dbms = [["mySQL","Open Source",False], ["MS SQL Server", "de paga", True]]
computo.append(dbms)
print(computo)
print(computo[2][0][0])
print(computo[2][1][1])

['HP', 'Mac Book Pro 17', 'Mate book', 'Lenovo legion']
['Windows 10', 'Linux', 'Android', 'iOS']
Mate book
Mate
ovoneL
ovoneL
True
[['HP', 'Mac Book Pro 17', 'Mate book', 'Lenovo legion'], ['Windows 10', 'Linux', 'Android', 'iOS'], [['mySQL', 'Open Source', False], ['MS SQL Server', 'de paga', True]]]
mySQL
de paga